{{ template "header.tmpl" .}}
<main>
	<section>
		<h1>Confirmation Email Sent</h1>
		<p>Check your Email, you should have recieved a confirmation link from {{.emailFromAddress}}<p>
	</section>
</main>

{{ template "footer.tmpl" .}}